/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 131, 0.8)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  /* we set position to relative for .logo-box to have a beginning frem where to count top and left */
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}
.logo {
  height: 35px;
}
.logo:hover {
  animation: moveInRight 1s ease-out;
}
.text-box {
  /* the best way to style it in the middle absolute possitioning */
  /* top:40 and left: 50 in relation to PARENT ELEMENT */
  position: absolute;
  top: 40%;
  left: 50%;
  /* now we need slightly move this box, so we use transform */
  /* translate(-50%,-50%) will shift element ITSELF not PARENT ELEMENT */
  transform: translate(-50%, -50%);
  /* to center the button inside text-box we use text-align */
  text-align: center;
}
.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /* to stop shaking the h1 in animation we use backface-visibility */
  backface-visibility: hidden;
  margin-bottom: 60px;
}
.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  /* for animation to work there are 2 properties to specify : animation-name:moveInLeft */
  /* and the animation-duration:3s - how lond animation is going to take */
  animation-name: moveInLeft;
  animation-duration: 1s;
  /* how animation is going to go(easy in beggining and faster at the end for example) */
  animation-timing-function: ease-out;
  /* repeat animation n times */
  /* animation-iteration-count: 3; */
  /* delay on animatin */
  /* animation-delay: 3s; */
}
.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;
  /* short hand notation for animation */
  animation: moveInRight 1s ease-out;
}
/* creating an advance animation  */
@keyframes moveInLeft {
  /* we start with 0% - before animation starts */
  /* the best solution for browser is to use opacity and transform */
  /* browsers optimized for opacity and transform properties */
  0% {
    /* opacity :0 invisible at the beggining */
    opacity: 0;
    /* transform:translateX - becouse we wont to animate in X direction */
    /* and I want it to be more on the left than of beggining that is why -100px */
    transform: translateX(-100px);
  }
  80% {
    /* it will go to the right 10px */
    transform: translateX(10px);
  }
  /* 100% when animation finish */
  100% {
    opacity: 1;
    /* we want it to look like now so we neet translate(0) */
    transform: translate(0);
  }
}

@keyframes moveInRight {
  /* we start with 0% - before animation starts */
  /* the best solution for browser is to use opacity and transform */
  /* browsers optimized for opacity and transform properties */
  0% {
    /* opacity :0 invisible at the beggining */
    opacity: 0;
    /* transform:translateX - becouse we wont to animate in X direction */
    /* and I want it to be more on the left than of beggining that is why -100px */
    transform: translateX(100px);
  }

  80% {
    /* it will go to the right 10px */
    transform: translateX(-10px);
  }
  /* 100% when animation finish */
  100% {
    opacity: 1;
    /* we want it to look like now so we neet translate(0) */
    transform: translate(0);
  }
}
/* :link - is a state of button selector */
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  /* easy way animation just transition */
  /* makes button transition slower and nicer */
  transition: all 0.2s;
}
.btn:hover {
  transform: translateY(-3px);
  /* adding the shadow */
  /* 0 is ofset X direction;  10px is ofset Y direction ; 20px is a bluer   */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
/* :active - when we click */
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn-white {
  background-color: #fff;
  color: #777;
}
